{{!-- src/resources/views/posts/edit.hbs --}}

<h1 class="mb-4">Chỉnh sửa bài viết</h1>

{{#if post}}
    <form action="/posts/{{post.id}}?_method=PUT" method="POST">
        <div class="form-group">
            <label for="title">Tiêu đề</label>
            <input type="text" class="form-control" id="title" name="title" value="{{post.title}}" required>
        </div>

        <div class="form-group">
            <label for="categoryId">Danh mục</label>
            <select class="form-control" id="categoryId" name="categoryId">
                <option value="">-- Chọn danh mục --</option>
                {{#each ../categories}}
                    <option value="{{this.id}}" {{#if (eq this.id ../post.categoryId)}}selected{{/if}}>
                        {{this.name}}
                    </option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label for="featuredImage">Ảnh đại diện (URL)</label>
            <input type="text" class="form-control" id="featuredImage" name="featuredImage" value="{{post.featuredImage}}">
        </div>

        <div class="form-group">
            <label for="content-editor">Nội dung</label>
            <textarea id="content-editor" name="content">{{post.content}}</textarea>
        </div>

        <div class="form-group">
            <label for="excerpt">Tóm tắt (Excerpt)</label>
            <textarea class="form-control" id="excerpt" name="excerpt" rows="3">{{post.excerpt}}</textarea>
        </div>

        <div class="form-group">
            <label>Thẻ (Tags)</label>
            <div>
                {{#each ../tags}}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="tagIds" id="tag-{{this.id}}" value="{{this.id}}" {{#if (isTagSelected this.id ../post.tags)}}checked{{/if}}>
                        <label class="form-check-label" for="tag-{{this.id}}">{{this.name}}</label>
                    </div>
                {{/each}}
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Cập nhật bài viết</button>
    </form>

    <script src="https://cdn.tiny.cloud/1/{{TINYMCE_API_KEY}}/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: 'textarea#content-editor',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        height: 500,
      });
    </script>
{{else}}
    <p>Không tìm thấy bài viết.</p>
{{/if}}